[submodule "ext/ThreadPool"]
	path = ext/ThreadPool
	url = git@github.com:progschj/ThreadPool.git
[submodule "ext/json"]
	path = ext/json
	url = git@github.com:nlohmann/json.git
[submodule "ext/stb"]
	path = ext/stb
	url = git@github.com:nothings/stb.git
[submodule "ext/tinyexr"]
	path = ext/tinyexr
	url = git@github.com:syoyo/tinyexr.git
[submodule "ext/tinydngloader"]
	path = ext/tinydngloader
	url = git@github.com:syoyo/tinydngloader.git
